.govuk-main-wrapper {
  min-height: 600px;
}

.govuk-heading-m{
  margin-bottom: govuk-spacing(1);
  padding-top: govuk-spacing(0) !important;
}

a.disabled-nav {
  pointer-events: none;
  opacity: 0.5;
}
