{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Update Address" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% from "govuk/components/select/macro.njk" import govukSelect %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/input/macro.njk" import govukInput %}

  <form method="post">
    {% set errorList =[
      { text: errorMessages.officeDescription.text, href: "#description" } if errorMessages.officeDescription else None,
      { text: errorMessages.buildingName.text, href: "#buildingName" } if errorMessages.buildingName else None,
      { text: errorMessages.addressNumber.text, href: "#houseNumber" } if errorMessages.addressNumber else None,
      { text: errorMessages.identifier.text, href: "#description" } if errorMessages.identifier else None,
      { text: errorMessages.streetName.text, href: "#streetName" } if errorMessages.streetName else None,
      { text: errorMessages.district.text, href: "#district" } if errorMessages.district else None,
      { text: errorMessages.townCity.text, href: "#townCity" } if errorMessages.townCity else None,
      { text: errorMessages.county.text, href: "#county" } if errorMessages.county else None,
      { text: errorMessages.postcode.text, href: "#postcode" } if errorMessages.postcode else None,
      { text: errorMessages.genericErrorMessage.text, href: "#" } if errorMessages.genericErrorMessage else None
    ] | reject("undefined") %}

    {% if errorMessages | length > 0 %}
      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
    {% endif %}

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {% include "pages/side-nav.njk" %}
      </div>
      <div class="govuk-grid-column-two-thirds">

        {% if not showEmbeddedError %}

          <h1 class="govuk-heading-l">Please enter an Address</h1>

          {{ govukInput({
            label: {
              text: "Office Description (if applicable)",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "description",
            value: warrantRiskAssessment.signOnOffice.officeDescription,
            classes: "govuk-input--width-30",
            name: "officeDescription",
            errorMessage: {
              text: errorMessages.officeDescription.text or errorMessages.identifier.text
            } if errorMessages.officeDescription or errorMessages.identifier
          }) }}

          {{ govukInput({
            label: {
              text: "Building Name (if applicable)",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "buildingName",
            value: warrantRiskAssessment.signOnOffice.buildingName,
            classes: "govuk-input--width-30",
            name: "buildingName",
            errorMessage: {
              text: errorMessages.buildingName.text or errorMessages.identifier.text
            } if errorMessages.buildingName or errorMessages.identifier
          }) }}

          {{ govukInput({
            label: {
              text: "Address Number (if applicable)",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "houseNumber",
            value: warrantRiskAssessment.signOnOffice.addressNumber,
            classes: "govuk-input--width-30",
            name: "addressNumber",
            errorMessage: {
              text: errorMessages.addressNumber.text or errorMessages.identifier.text
            } if errorMessages.addressNumber or errorMessages.identifier
          }) }}

          {{ govukInput({
            label: {
              text: "Street Name",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "streetName",
            value: warrantRiskAssessment.signOnOffice.streetName,
            classes: "govuk-input--width-30",
            name: "streetName",
            errorMessage: {
              text: errorMessages.streetName.text
            } if errorMessages.streetName.text
          }) }}

          {{ govukInput({
            label: {
              text: "District (if applicable)",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "district",
            value: warrantRiskAssessment.signOnOffice.district,
            classes: "govuk-input--width-30",
            name: "district",
            errorMessage: {
              text: errorMessages.district.text
            } if errorMessages.district
          }) }}

          {{ govukInput({
            label: {
              text: "Town or City",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "townCity",
            value: warrantRiskAssessment.signOnOffice.townCity,
            classes: "govuk-input--width-20",
            name: "townCity",
            errorMessage: {
              text: errorMessages.townCity.text
            } if errorMessages.townCity.text
          }) }}

          {{ govukInput({
            label: {
              text: "County (optional)",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "county",
            value: warrantRiskAssessment.signOnOffice.county,
            classes: "govuk-input--width-20",
            name: "county",
            errorMessage: {
              text: errorMessages.county.text
            } if errorMessages.county.text
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "postcode",
            value: warrantRiskAssessment.signOnOffice.postcode,
            classes: "govuk-input--width-10",
            name: "postcode",
            errorMessage: {
              text: errorMessages.postcode.text
            } if errorMessages.postcode.text
          }) }}

          <div class="moj-button-group">
            {{ govukButton({
              text: "Save",
              preventDoubleClick: "true",
              type: "submit",
              attributes: {
                id: "save-button"
              }
            }) }}
            {{ govukButton({
              text: "Cancel",
              type: "submit",
              href: '/basic-details/'+warrantRiskAssessmentId,
              classes: "govuk-button--secondary",
              attributes: {
                id: "cancel-button"
              }
            }) }}
        </div>

        {% endif %}

      </div>
    </div>
  </form>

{% endblock %}
