{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Basic Details" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}

  <form method="post">

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {% include "pages/side-nav.njk" %}
      </div>
      <div class="govuk-grid-column-two-thirds">

        <h1 id="page-title" class="govuk-heading-l">Warrant Risk Assessment - Basic Details</h1>

        <p id="crn">{{ warrantRiskAssessment.crn }}</p>

      </div>
    </div>

  </form>
{% endblock %}
