{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Confirm Delete" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% from "govuk/components/button/macro.njk" import govukButton %}

  <form method="post">

    {% set errorList =[
      { text: errorMessages.genericErrorMessage.text, href: "#" } if errorMessages.genericErrorMessage else None
    ] | reject("undefined") %}

    {% if errorMessages | length > 0 %}
      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
    {% endif %}

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third"></div>

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Are you sure you wish to delete this document?</h1>

        <div class="moj-button-group">
          {{ govukButton({
            text: "Confirm",
            type: "submit",
            name: "action",
            value: "confirm",
            attributes: {
              id: "confirm-button"
            }
          }) }}
          {{ govukButton({
            text: "Cancel",
            type: "submit",
            name: "action",
            value: "cancel",
            classes: "govuk-button--secondary",
            attributes: {
              id: "cancel-button"
            }
          }) }}
        </div>
      </div>
    </div>

  </form>

{% endblock %}
