{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Form Deleted" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
  {% from "govuk/components/panel/macro.njk" import govukPanel %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set mainClasses = "govuk-main-wrapper--l" %}

      {{ govukPanel({
        titleText: "Document Deleted",
        html: "This form has been permanently deleted and cannot be recovered"
      }) }}

      <h2 class="govuk-heading-l">What to do next</h2>

      <h2 class="govuk-heading-m">Close this form</h2>
      <p id="close-window"><a href="/close" class="govuk-link">Click here to close this window</a></p>
    </div>
  </div>

{% endblock %}
